@use '@/styles/_mixins.scss' as *;

.burger-menu-wrapper {
  position: fixed;
  top: 60px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  backdrop-filter: blur(3px);
}

.burger-menu {
  width: 33vw;
  min-width: 400px;
  height: 100%;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  padding: 10vh 0;

  &__close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: #3d2a24;
    cursor: pointer;
    z-index: 1001;
  }

  &__nav {
    @include flexbox(column);
    justify-content: flex-start;
    height: 100%;
  }

  &__title {
    @include no-def-styles();
    color: #3d2a24;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(1.5 * (1vw + 1vh));
    margin-bottom: 40px;
  }

  &__list {
    @include no-def-styles();
    @include flexbox(column);
    gap: 2rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow:
      inset 2px 2px 5px rgba(0, 0, 0, 0.15),
      inset -2px -2px 5px rgba(255, 227, 215, 0.7);

    width: 80%;
    padding: 5vh 5vw;
  }

  &__item {
    @include no-def-styles;

    a {
      @include no-def-styles;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      color: #3d2a24;
      cursor: pointer;

    }

    &:hover {
      color: #9a7b6f;
    }
  }
}

@media (max-width: 600px) {
  .burger-menu {
    width: 100vw;
    min-width: unset;

    &__nav {}

    &__list {}

    &__item {
      &:hover {}
    }
  }
}