---
import AboutSlider from "@/components/about_slider/AboutSlider"
import "./index.scss"
---

<section class="about">
    <h1 class="about__title">Почему именно мы?</h1>
    <AboutSlider client:only="react"/>
</section>

{/*<div class="about__fillblock"></div> */} 