.about {
    @include flexbox(column);
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: $section-padding;
    gap: 4rem;
    background: $secondary-color;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 100px 100px 0 0;

    &__title {
        @include tenor-title(true, left);
        text-transform: none;
        color: $font-color;
        font-size: calc(2.25 * (1vh + 1vw));
    }

    &__subtitle {
        @include roboto-text(true, center);
        font-size: calc(1.25 * (1vh + 1vw));
        padding: 0 5%
    }

    &__content {
        @include no-padding();
        @include flexbox(column);
        width: 100%;
        height: 100%;
        gap: 3rem;
        overflow-x: visible;
    }

    &__slide {
        @include flexbox(row);
        @include full-parent();
        scroll-snap-align: start;
        z-index: 3;
        gap: 3rem;
        border-radius: 15px;
        box-sizing: border-box;
        will-change: transform, opacity;
        transition: opacity 0.6s ease, transform 0.6s ease;

        .image {
            @include flexbox(column);
            width: 80%;
            height: 80%;
            box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.253);
            perspective: 1000px;
            transform: rotateY(-4deg) rotateX(2deg);
            overflow: hidden;

            img {
                @include full-parent;
                scale: 1.2;
                object-fit: cover; 
            }
        }

        .description-wrapper {
            @include flexbox(column);
            align-items: flex-start;
            justify-content: flex-start;
            @include full-parent();
            padding: 1rem;
            gap: 1.5rem;

            .title {
                @include ubuntu-title-font(false, left);
                font-size: 2rem;
            }

            .text {
                @include prata-text(false, left);
                font-size: 1.5rem;
            }

            .title,
            .text {
                color: $font-color-text;
            }
        }

        &--second {
            flex-direction: row-reverse;

            .image {
                transform: perspective(1000px);
                transform: rotateY(4deg) rotateX(-2deg);
                box-shadow: -12px -12px 25px rgba(0, 0, 0, 0.253);
            }

            .description-wrapper {
                .title {
                    text-align: right;
                }
                .text {
                    text-align: right;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .about {
        padding: 10px;
        gap: 1rem;
        height: auto;
        justify-content: flex-start;

        &__title {
            text-align: center;
            padding: 0;
        }

        &__slide {
            @include flexbox(column);
            align-items: space-between;
            width: 100%;
            height: 100%;
            padding: 10px;

            .image {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .description-wrapper {
                align-items: center;

                .title {
                    text-align: center;
                    font-size: 1.25rem;
                }

                .text {
                    text-align: center;
                    font-size: 1rem;
                }
            }
        }

        &__content {
            @include flexbox(column);
        }
    }
}

@media (min-width: 1920px) {
    .about {
        padding: 5vh 16vw;
    }
}