@use '@/styles/global.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.about {
    @include flexbox(column);
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 14vw;
    gap: 2rem;
    background: $secondary-color;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;

    &__title {
        @include no-padding();
        @include ubuntu-title-font(false, center)
    }
    
    &__content {
        @include flexbox(column);
        width: 100%;
        height: 55vh;
        overflow-x: visible;
    }

    &__slide {
        @include flexbox(row);
        @include full-parent();
        scroll-snap-align: start;
        z-index: 3;
        gap: 1rem;
        padding: 2rem;
        border-radius: 15px;
        background-color: $primary-color;
      
        box-sizing: border-box;
        will-change: transform, opacity;
        transition: opacity 0.6s ease, transform 0.6s ease;

        .image {
            position: relative;
            @include full-parent;

            img {
                position: absolute;
                top: -3px;
                left: -3px;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                object-fit: fill;
            }
        }

        .description-wrapper {
            @include flexbox(column);
            align-items: flex-start;
            justify-content: flex-start;
            @include full-parent();
            padding: 1rem;
            gap: 1rem
        }

        .description {
            @include no-padding();
            @include prata-text(false, left);
            height: auto;
        }

        .styled-button {
            @include no-def-styles();
            background-color: transparent;
            border: 1px solid #dbd4d4;
            border-radius: 15px;
            padding: calc(0.8 * (1vw + 1vh)) calc(2.9 * (1vw + 1vh));

            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            color: #cecbcb;
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;

            cursor: pointer;

            transition: all 0.5s ease-in-out;

            &:hover {
                border: 1px solid #ffffff;
                color: #ffffff;
            }
        }
    }

    &__dots {
        @include flexbox(row);
        gap: 12px;
    
        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #888888;
            transition: background-color 0.3s ease;
            flex-shrink: 0;
    
            &.active {
                background-color: $primary-color;
            }
        }
    }
}

@media (max-width: 800px) {
    .about {
        padding: calc(5vh + 60px) 10px 10px 10px;
        height: 100vh;
        justify-content: space-between;

        &__slide {
            @include flexbox(column);
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            padding: 10px;

            .image {
                width: 90vw;
                min-height: 300px;

                img {
                    top: 0;
                    left: 0;
                }
            }

            .description-wrapper {
                align-items: center;
            }

            .description {
                text-align: center;
                font-size: 0.85rem;
            }

            .styled-button {
                width: 80%;

                &:hover {}
            }
        }

        &__content {
            @include flexbox(column);
            height: 80vh; 
        }
    }
}

@media (max-width: 400px) {
    .about {
        padding: calc(5vh + 60px) 10px 10px 10px;
        gap: 5px;
        
        &__slide {
            width: 100%;
            gap: 5px;

            .image {
                width: 90vw;
                min-height: 250px;

                img {
                    top: 0;
                    left: 0;
                }
            }
        }

        &__dots {
            margin-top: 30px;
        }
    }
}