.portfolio {
    @include flexbox(column);
    padding: $section-padding;
    background-color: $primary-color;
    gap: 2rem;
  
    &__title {
      @include tenor-title(false, center);
      color: $secondary-font-color;
    }
  
    &__slider-wrapper {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    &__description {
      @include prata-text(false, center);
      font-size: 1.25rem;
      max-width: 700px;
    }
  
    &__cta {
      @include roboto-text(false, center);
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: none;
      position: relative;
    }
  }
  