---
import HighLightTitle from '@/components/high-light-title/HighLightTitle.astro';
import './index.scss';
import PortfolioSlider from '@/components/portfolio_slider/PortfolioSlider';
---

<section class="portfolio" aria-labelledby="portfolio-title">
  <HighLightTitle titleText="Наши работы" highLightColor="dark" />

  <div class="portfolio__slider-wrapper">
    <PortfolioSlider client:only />
  </div>
</section>
