---
import './index.scss';
import PortfolioSlider from '@/components/portfolio_slider/PortfolioSlider';
---

<section class="portfolio" aria-labelledby="portfolio-title">
  <h2 id="portfolio-title" class="portfolio__title">Наши работы</h2>

  <div class="portfolio__slider-wrapper">
    <PortfolioSlider client:only/>
  </div>

  <p class="portfolio__description">
    Наша команда мастеров – настоящие художники, которые помогут вам подчеркнуть вашу естественную красоту и создать неповторимый образ.
  </p>

  <p class="portfolio__cta">Готовы к преображению?</p>
</section>
