---
import './index.scss';
import PortfolioSlider from '@/components/portfolio_slider/PortfolioSlider';
---

<section class="portfolio" aria-labelledby="portfolio-title">
  <h2 id="portfolio-title" class="portfolio__title"><span class="highlighted">Наши работы</span></h2>

  <div class="portfolio__slider-wrapper">
    <PortfolioSlider client:only/>
  </div>
</section>
