.slogan {
  @include flexbox(column);
  background-color: $primary-color;
  padding: $section-padding;
  text-align: center;
  box-sizing: border-box;

  .slogan__quote {
    width: 2.5rem;
    height: auto;
    fill: #000;

    position: absolute;

    &--left {
      top: 1rem;
      left: 1rem;
    }

    &--right {
      bottom: 1rem;
      right: 1rem;
      transform: scaleX(-1);
    }
  }

  &__text {
    @include flexbox(column);
    @include ubuntu-title-font(true, center);
    font-size: calc(1.75 * (1vh + 1vw));
    padding: 3rem;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-word;
    display: inline;
  }

  &__continuation {
    margin: 0;
    color: transparent;
    background: linear-gradient(to right, #a2a2a2 50%, #4A1E1E 50%) 0 0 / 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: slice;
    -webkit-box-decoration-break: slice;
  }
}