.slogan {
  @include flexbox(column);
  background-color: $primary-color;
  padding: $section-padding;
  text-align: center;
  box-sizing: border-box;

  .slogan__quote {
    width: 2.5rem;
    height: auto;
    fill: #000;

    position: absolute;

    &--left {
      top: 1rem;
      left: 1rem;
    }

    &--right {
      bottom: 1rem;
      right: 1rem;
      transform: scaleX(-1);
    }
  }

  .slogan__text {
    @include flexbox(column);
    @include ubuntu-title-font(true, center);
    font-size: calc(1.75 * (1vh + 1vw));
    color: $secondary-font-color;
    padding: 10vh 10vw;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-word;
    display: inline;
  }
}
