---
import './index.scss';
import QuoteIcon from '@/assets/icons/quote.svg';
---

<section class="slogan" aria-hidden="true">
  <p class="slogan__text" id="slogan-text-secondary">
    <img src={QuoteIcon.src} class="slogan__quote slogan__quote--left" />
    <span class="slogan__continuation">Уход за собой — это язык любви,</span>
    <span class="slogan__accent">который ты выбираешь для себя.</span>
    <img src={QuoteIcon.src} class="slogan__quote slogan__quote--right" />
  </p>
</section>
