---
import './index.scss';
import QuoteIcon from '@/assets/icons/quote.svg';
---

<section class="slogan" aria-hidden="true">
  <div class="slogan__text" id="slogan-text-main">
    <img src={QuoteIcon.src} class="slogan__quote slogan__quote--left" />
    <span class="slogan__continuation">
      Красота – это не только внешнее преображение, но и внутреннее ощущение счастья и комфорта.
    </span>
    <img src={QuoteIcon.src} class="slogan__quote slogan__quote--right" />
  </div>
</section>
