---
import HeroAnimation from "./Animation";
import "./index.scss";
---

<section class="hero">
    <article class="hero__article">
        <h1 class="hero__article herotext">Твое сияние — наша магия</h1>
        <span class="hero__article subtext">
            Добро пожаловать в Maria Salon — сеть современных салонов красоты в
            Москве! Мы работаем только с премиальной косметикой и индивидуальным
            подходом к каждому клиенту. Посетите наши салоны и откройте для себя
            мир стиля, роскоши и гармонии. Ваше преображение начинается здесь!
        </span>
    </article>
    <img src="/assets/hero-woman.svg" alt="Фирменный макияж Marina" class="hero__showcase"/>
</section>

<HeroAnimation client:load/>
