@use '@/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
 .staff {
    @include flexbox(column);
    justify-content: center;
    width: 100vw;
    height: 80vh;
    padding: 0 10vw;
    background-color: white;

    &__content {
        
    }

    &__title {
        @include no-padding();
        font-family: "Prata", serif;
		font-size: calc(1.8rem + 1vw);
		text-align: center;
		color: #3d1d1a;
		margin-bottom: 40px;
		line-height: 1.4;
    }
 }