@use '@/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.staff {
  @include flexbox(column);
  width: 100vw;
  height: auto;
  padding: 10vh 14vw;
  background-color: white;

  &__content {
    @include flexbox(column);
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }

  &__title {
    @include no-padding();
    @include ubuntu-title-font(false, center)
  }
}


@media (max-width: 600px) {
  .staff {
    padding: 5vh 10vw;
    height: auto;
  }
}