---
import "./index.scss"
---

<section class="staff">
    <article class="staff__content">
        <h2 class="staff__title">Наши мастера — творцы вашего безупречного образа!</h2>
    </article>
</section>