.services {
    @include flexbox(column);
    @include no-padding;
    width: 100vw;
    box-sizing: border-box;
    height: auto;
    gap: 2rem;
    background-color: $primary-color;
    padding: $section-padding;

    &__title {
        @include tenor-title(false, left);
    }

    &__content {
        @include flexbox(row);
        @include full-parent;
        gap: 2rem;
    }

    &__column {
        @include flexbox(column);
        gap: 2rem;
        width: 100%;
    }

    &__card {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            transform: scale(1.2);
            transition: transform 1.5s ease;
            box-shadow: 9px 9px 9px #00000046;
    
            &:hover {
                transform: scale(1);
            }
        }
    }

    &__label {
        @include flexbox(row);
        position: absolute;
        bottom: 1rem;
        @include tenor-title(false, center);
        font-size: calc(1.2 * (1vh + 1vw));
    }

    &__footer {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__button {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $secondary-color;
        color: $primary-color;
        font-weight: 600;
        padding: 1rem 3rem;
        border-radius: 50px;
        border: none;
        text-transform: uppercase;
        font-size: 1.7rem;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}