---
import SmoothScrollEffect from "@/components/animations/SmoothScrollEffect.tsx";
import "./index.scss";
import ServicesSlider from "@/components/services_slider/ServicesSlider";
---

<section class="services">
  <h2 class="services__title">Услуги</h2>

  <div class="services__content">
    <ServicesSlider client:only/>
  </div>
</section>

<SmoothScrollEffect client:only />
