---
import "./index.scss";

let { category } = Astro.props;

if (!category) {
  category = {
    category: "Все услуги салона красоты",
    description:
      "Добро пожаловать в мир красоты и заботы. Мы предлагаем полный спектр процедур — от макияжа до ухода за волосами и телом. Наши мастера помогут подчеркнуть вашу индивидуальность.",
  };
}
---

<section class="hero">
  <article class="hero__article">
    <h1 class="hero__article herotext">{category.category}</h1>
    <span class="hero__article subtext">
      {category.description}
    </span>
  </article>
</section>
