@use '@/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.hero {
  @include flexbox(row);
  width: 100vw;
  height: auto;
  padding: calc(2rem + 4vh + 4vw) 14vw calc(2rem + 4vh + 4vw) 14vw;
  box-sizing: border-box;
  overflow: hidden;

  &__content {
    @include flexbox(column);
    @include full-parent;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(2rem + 2vh);

    &.herotext {
      @include flexbox(column);
      @include no-padding();
      height: auto;
      max-width: 70%;

      @include ubuntu-title-font(false, left);
      font-size: calc(3 * (1vh + 1vw));
    }

    &.subtext {
      @include flexbox(column);
      @include no-padding();
      height: auto;
      max-width: 50%;

      @include prata-text(false, left);
    }
  }

  &__showcase {
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 90vh;
    object-fit: cover;
    transform: translateY(15vh);
    transition: all 0.25s ease;
  }
}

@media (max-width: 700px) {
  .hero {
    @include flexbox(column);
    height: 100%;
    padding: 10vh 10vw 0 10vw;

    &__article {
      width: 100%;
      align-items: center;

      &.herotext {
        width: 100%;
        max-width: unset;
        text-align: center;
      }

      &.subtext {
        width: 100%;
        max-width: unset;
        text-align: center;
      }
    }

    &__showcase {
      @include flexbox(column);
      width: 100vw;
      height: 70vh;
    }
  }
}