@use '@/styles/_mixins.scss' as *;

.staff {
  @include flexbox(column);
  width: 100vw;
  height: auto;
  padding: $section-padding;
  padding-bottom: 0;
  background-color: $secondary-color;

  &__content {
    @include flexbox(column);
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }

  &__title {
    @include no-padding();
    @include tenor-title(true, center);
    z-index: 5;
  }
}


@media (max-width: 600px) {
  .staff {
    padding: 5vh 10vw;
    height: auto;
  }
}