---
import StaffSlider from '@/components/staff_slider/StaffSlider';
import './index.scss';
import HighLightTitle from '@/components/high-light-title/HighLightTitle.astro';
---

<section class="staff">
  <article class="staff__content">
    <HighLightTitle titleText="Наши мастера" textAlign="center" />
    <StaffSlider client:only />
  </article>
</section>
