---
import "./index.scss";
---

<section class="services">
    <ul class="services__content">
        <li class="services__content list-item">
            Перманентный макияж и тату
            <img src="/icons/services/icon1.svg" class="services__content icon"/>
        </li>
        <li class="services__content list-item">
            Уход за бровями и ресницами
            <img src="/icons/services/icon2.svg" class="services__content icon"/>
        </li>
        <li class="services__content list-item">
            Аппаратная косметология
            <img src="/icons/services/icon3.svg" class="services__content icon"/>
        </li>
        <li class="services__content list-item">
            Омоложение и лифтинг
            <img src="/icons/services/icon4.svg" class="services__content icon"/>
        </li>
    </ul>
</section>
