---
import StyledButton from '@/components/buttons/StyledButton';
import './index.scss';
import DiamondIcon from '@/assets/icons/diamond.svg';
import FaqItem from '@/components/faq-item/FaqItem.astro';
---

<section class="faq" aria-labelledby="faq-title">
  <h2 id="faq-title" class="faq__title">
    <span class="highlighted">Часто задаваемые вопросы</span>
  </h2>

  <div class="faq__list">
    <FaqItem
      faqNumber={'1'}
      faqQuestion="Насколько стойким является перманентный макияж?"
      faqAnswer="Мы внимательно выслушиваем ваши пожелания и предлагаем решения, идеально подходящие именно вам. Мы разрабатываем персональные программы ухода и преображения, учитывая ваши индивидуальные особенности и потребности."
    />

    <FaqItem
      faqNumber={'2'}
      faqQuestion="Как подготовиться к процедуре?"
      faqAnswer="Накануне желательно не принимать алкоголь, кофеин и разжижающие кровь препараты. При необходимости - мы дадим подробную инструкцию индивидуально."
    />

    <FaqItem
      faqNumber={'3'}
      faqQuestion="Какие противопоказания к татуажу и косметологии?"
      faqAnswer="Абсолютные противопоказания: беременность, лактация, онкология, активные вирусные и кожные заболевания. Перед визитом мы всегда уточняем ваше состояние."
    />
  </div>

  <div class="faq__cta">
    <p class="faq__cta-text">Не нашли ответ на свой вопрос? <br />Свяжитесь с нами!</p>
    <div class="faq__cta-button"><StyledButton text="Связаться с нами" href="/booking" /></div>
  </div>
</section>
