@mixin flexbox($direction) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin absolute-fw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@mixin full-parent {
  width: 100%;
  height: 100%;
}

@mixin no-padding {
  padding: 0;
  margin: 0;
}

@mixin classic-borders {
  border: 1px solid #7c7c7c8e;
  border-radius: 15px;
}

@mixin no-def-styles {
  text-decoration: none;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  border: none;
  background-color: transparent;
  list-style: none;
}

@mixin ubuntu-title-font($light: false, $align: left) {
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: calc(2 * (1vh + 1vw));
  color: if($light, #fff, #000);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: $align;

  text-shadow:
    1px 1px 0 if($light, rgba(0, 0, 0, 0.1), #eae0db),
    2px 2px 3px rgba(0, 0, 0, 0.05);
}
