@use 'variables';
@use 'mixins';
@use 'responsive';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;

  overflow-x: hidden;
}

main {
  position: relative;
  width: 100vw;
  height: 100%;
}

* {
  scrollbar-width: thin; /* для Firefox */
  scrollbar-color: #211311 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #211311;
  border-radius: 4px;
}
