@use 'variables';
@use 'mixins';
@use 'responsive';

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;

  overflow-x: hidden;
}


main {
  position: relative;
  height: 100%;
}
