---
import "./index.scss"
---

<section class="reviews">
    <article class="reviews__content">
        <h2 class="reviews__title">Тысячи положительных отзывов</h2>
        <div class="stars">

        </div>
        <nav></nav>
    </article>
</section>