---
import "./index.scss"
---

<section class="reviews">
    <article class="reviews__content">
        <h2 class="reviews__title">Тысячи положительных отзывов</h2>
        <div class="stars">
            <img src="/assets/reviews-stars.svg" alt="отзывы, звёзды"/>
        </div>
        <nav class="reviews__content list">
            <a class="reviews__list link">Yandex.Maps</a>
            <a class="reviews__list link">2Gis</a>
            <a class="reviews__list link">Instagram</a>
        </nav>
        <nav></nav>
    </article>
</section>