---
import "./index.scss"
---

<section class="about">
    <h1 class="about__title">Почему именно мы?</h1>
    <article class="about__content">
        <img src="" class="about__image"/>
        <div class="about__description-wrapper">
            <p class="about__description"></p>
            <button class="styled-button">Записаться</button>
        </div>
    </article>
</section>