---
import "./index.scss"
---

<section class="about">
    <h1 class="about__title">Почему именно мы?</h1>
    <article class="about__content">
        <div class="image">
            <img src="/assets/about-team.png" alt="Наша команда" />
          </div>
        <div class="about__content description-wrapper">
            <p class="about__content description">
                Мы собрали команду высококлассных мастеров, которые работают с премиальной косметикой и современными технологиями. 
                Каждый клиент для нас уникален, и мы подбираем индивидуальный подход, чтобы подчеркнуть вашу естественную привлекательность.
            </p>
            <button class="styled-button">Записаться</button>
        </div>
    </article>
</section>

<div class="about__fillblock"></div>