@use '@/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.about {
    @include flexbox(column);
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 20px 14vw;
    gap: 2rem;
    background: linear-gradient(to bottom, #211311 0%, #3E211D 100%);
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;

    &__title {
        @include no-padding();
        @include ubuntu-title-font(true, center)
    }

    &__slide {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        scroll-snap-align: start;
        z-index: 3;
        gap: 1rem;
    
        @include flexbox(row);
        box-sizing: border-box;
        will-change: transform, opacity;
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

    &__content {
        @include flexbox(row);
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 55vh;
        gap: calc(1rem + 3vw);
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; 
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .image {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                top: -3px;
                left: -3px;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                object-fit: fill;
            }
        }

        &.description-wrapper {
            @include flexbox(column);
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
        }

        &.description {
            @include no-padding();
            height: auto;

            font-family: "Prata", serif;
            font-weight: 400;
            font-style: normal;
            color: #dfdfdf;
            font-size: calc(1rem * (1vw + 1vh));
            font-size: calc(1rem * (1vw + 1vh));
        }

        .styled-button {
            @include no-def-styles();
            background-color: transparent;
            border: 1px solid #dbd4d4;
            border-radius: 15px;
            padding: calc(0.8 * (1vw + 1vh)) calc(2.9 * (1vw + 1vh));

            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            color: #cecbcb;
            font-size: calc(0.9 * (1vw + 1vh));
            text-align: center;
            text-transform: uppercase;

            cursor: pointer;

            transition: all 0.5s ease-in-out;

            &:hover {
                border: 1px solid #ffffff;
                color: #ffffff;
            }
        }
    }

    &__dots {
        @include flexbox(row);
        gap: 12px;
    
        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #888888;
            transition: background-color 0.3s ease;
            flex-shrink: 0;
    
            &.active {
                background-color: #ffffff;
            }
        }
    }
    

    &__fillblock {
        position: relative;
        display: flex;
        width: 100%;
        height: 300px;
        z-index: 1;
        background-color: #fff;
    }
}

@media (max-width: 800px) {
    .about {
        padding: calc(5vh + 60px) 5vw;
        height: auto;
        justify-content: center;

        &__slide {
            @include flexbox(column);
            justify-content: flex-start;
            height: 100%;
        }

        &__content {
            @include flexbox(column);

            .image {
                width: 90vw;
                min-height: 300px;
            }

            &.description-wrapper {
                align-items: center;
            }

            &.description {
                text-align: center;
            }

            .styled-button {
                width: 80%;

                &:hover {}
            }
        }

        &__fillblock {
            display: none;
        }
    }
}

@media (max-width: 400px) {
    .about {
        padding: 70px 5vw;
        height: 100vh;
        justify-content: flex-start;
        gap: 10px;

        &__slide {
            @include flexbox(column);
            justify-content: flex-start;
            height: 100%;
        }

        &__content {
            @include flexbox(column);

            .image {
                width: 90vw;
                min-height: 250px;
            }

            &.description-wrapper {
                align-items: center;
            }

            &.description {
                text-align: center;
            }

            .styled-button {
                width: 80%;

                &:hover {}
            }
        }

        &__dots {
            position: absolute;
            bottom: 20px;
            left: 42%;
        }

        &__fillblock {
            display: none;
        }
    }
}