@use '@/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$light: false;

.hero {
  @include flexbox(row);
  width: 100vw;
  height: 100vh;
  padding: calc(2rem + 4vh + 4vw) 14vw 0 14vw;
  box-sizing: border-box;
  overflow: hidden;

  &__article {
    @include flexbox(column);
    @include full-parent;
    gap: 1rem;

    &.herotext {
      @include flexbox(column);
      @include no-padding();
      height: auto;
      @include ubuntu-title-font($light, left);
      font-size: calc(1.5 * (1vw + 1vh));
      color: $secondary-font-color;

      &.extra {
        font-size: calc(3.3 * (1vw + 1vh));
        line-height: calc(3.3 * (1vw + 1vh));
        letter-spacing: -0.35vw;
        text-shadow: unset !important;
        z-index: 10;
      }
    }
    
    &.subtext {
      @include flexbox(column);
      @include no-padding();
      height: auto;
      max-width: 50%;

      @include prata-text($light, left);
      font-size: 1.2rem;
      color: $secondary-font-color;
    }
  }
}

@media (max-width: 700px) {
  .hero {
    @include flexbox(column);
    height: auto;
    padding: 10vh 10vw 0 10vw;
    overflow: hidden;

    &__article {
      width: 100%;
      align-items: center;

      &.herotext {
        width: 100%;
        max-width: unset;
        text-align: center;
        font-size: calc(1.9 * (1vw + 1vh));

        .extra {
          font-size: calc(3 * (1vw + 1vh));
        }
      }

      &.subtext {
        width: 100%;
        max-width: unset;
        text-align: center;
        font-size: 1rem
      }
    }
  }
}