@use '@/styles/variables.scss' as *;


.high-light {
    --title-color: #5a2a00;
    --highLight-color: #FFE4C5;
    --text-align: 'left';
    width: 100%;
    @include tenor-title(true, var(--text-align));

    &__title {
        margin: 0;
        font-size: inherit;
        font-weight: 500;
        position: relative;
        display: inline-block;
        color: var(--title-color);
        width: auto;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            left: 5%;
            bottom: 0.17rem;
            width: 100%;
            height: 0.4em;
            background-color: var(--highLight-color);
            z-index: -1;
        }
    }
}