---
import Header from "../components/header/Header.astro";
import Layout from "../layouts/Layout.astro";
import HeroMain from "../sections/hero_main/HeroMain.astro";

import "@/styles/main/main.scss"
---

<Layout>
    <Header/>
    <img src="/backgrounds/main-background.svg" class="main-background"/>
    <HeroMain/>
    <a href="/"></a>
</Layout>