---
import "./index.scss";
import ctaBg from "@/assets/photos/cta/cta-background.png";
---

<section class="cta">
    <div class="cta__top">
        <h2 class="cta__title">Приходите к нам!</h2>
    </div>
</section>
<div class="cta__bottom">
    <img class="cta__image" src={ctaBg.src} alt="Салон красоты" />
    <button class="cta__button">записаться</button>
</div>
