---
import "./Header.scss";
import "./burger/BurgerMenu.scss";
import BurgerMenu from "./burger/BurgerMenu.tsx";
---

<header class="header">
    <a href="/" class="header__logo text"> Marina Salon </a>

    <nav class="header__nav-list">
        <a class="header__nav-list link"> ЗАПИСАТЬСЯ </a>
        <a href="/services" class="header__nav-list link"> УСЛУГИ (21) </a>
    </nav>

    <BurgerMenu client:load />
</header>
