@use '@/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.services {
    @include flexbox(row);
    width: 100vw;
    height: 30vh;
    padding: 0 10vw;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #ffffff 0%, #fff7ec 100%);
    backdrop-filter: blur(5px);

    &__content {
        @include no-padding();
        @include flexbox(row);
        gap: calc(2rem + 5vw);

        &.list-item {
            @include flexbox(column-reverse);
            gap: 10px;
            width: calc(9vw + 9vh);
            height: calc(9vw + 9vh);

            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            color: #3D2A24;
            font-size: calc(0.9 * (1vw + 1vh));
            text-align: center;

            border-radius: 50%;
            transition: all 0.75s ease;

            &:hover {
                background-color: #3D2A24;
                color: #D9D9D9;

                .icon {
                    filter: brightness(0) invert(1);
                    transform: scale(1.1);
                }
            }
        }

        &.icon {
            transition: all 0.75s ease;
        }
    }
}

@media (max-width: 1000px) {
    .services {
        height: 100%;
        padding: 5vh 10vw;

        &__content {
            @include flexbox(column);
            gap: calc(2rem);

            &.list-item {
                width: calc(14vw + 14vh);
                height: calc(14vw + 14vh);
                font-size: calc(1.5 * (1vw + 1vh));
            }
        }
    }
}