@use '@/styles/_mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.services {
    @include flexbox(column);
    width: 100vw;
    height: 100%;
    padding: 5vh 10vw;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #ffffff 0%, #fff7ec 100%);
    backdrop-filter: blur(5px);

    &__header {
        @include flexbox(row);
        width: 100%;
        justify-content: flex-start;
        gap: 20px;

        .title {
            @include no-padding();
            font-family: "Prata", serif;
            font-size: calc(1.8rem + 1vw);
            text-align: center;
            color: #3d1d1a;
            line-height: 1.4;
        }

        .subtitle {
            width: 100%;
            @include no-padding();
            font-family: "Prata", serif;
            font-size: calc(0.8rem + 1vw);
            text-align: center;
            color: #3d1d1a;
            line-height: 1.4;
            text-wrap: nowrap
        }

        .button {
            @include no-def-styles();
            @include flexbox(row);
            background-color: transparent;
            border: 1px solid #3d1d1a;
            border-radius: 15px;
            padding: calc(0.8 * (1vw + 1vh)) calc(2.9 * (1vw + 1vh));

            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            color: #3d1d1a;
            font-size: calc(0.9 * (1vw + 1vh));
            text-align: center;
            text-transform: uppercase;
            text-wrap: nowrap;

            cursor: pointer;

            transition: all 0.5s ease-in-out;

            &:hover {
                color: #4e2e2b;
            }
        }
    }

    &__content {
        @include no-padding();
        @include flexbox(row);
        gap: 10px;

        &.list-item {
            @include flexbox(column-reverse);
            justify-content: flex-end;
            gap: 10px;
            width: calc(9vw + 9vh);
            height: calc(1.5 * (9vw + 9vh));

            border-radius: 15px;
            transition: all 0.75s ease;

            &:hover {
                .icon {
                    background-color: #3D2A24;

                    img {
                        filter: brightness(0) invert(1);
                        transform: scale(1.1);
                    }
                }
            }

            a {
                @include flexbox(row);
                @include no-def-styles();
                font-family: "Roboto", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                color: #3D2A24;
                font-size: calc(0.9 * (1vw + 1vh));
                text-align: center;
                transition: all 0.75s ease;
                width: 100%;
                height: 100%;
            }

            .icon {
                position: absolute;
                width: calc(4.5vw + 4.5vh);
                height: calc(4.5vw + 4.5vh);
                top: 20px;
                pointer-events: none;
                transition: all 0.75s ease;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .services {
        height: 100%;
        padding: 5vh 10vw;

        &__content {
            @include flexbox(column);
            gap: calc(2rem);

            &.list-item {
                width: calc(14vw + 14vh);
                height: calc(14vw + 14vh);
                font-size: calc(1.5 * (1vw + 1vh));
            }
        }
    }
}