---
import SmoothScrollEffect from "../../components/animations/SmoothScrollEffect";
import LinkButton from "../../components/buttons/LinkButton";
import "./index.scss";
---

<section class="services">
  <article class="services__header">
    <h2 class="services__header title">Услуги</h2>
    <aside>
      <span class="services__header subtitle">посмотрите весь список наших услуг</span>
      <LinkButton text="все услуги" href="/services" client:only/>
    </aside>
  </article>

  <div class="services__content">
    <a href="/services/permanent-makeup" class="services__content__item">
      <div class="services__content__icon">
        <img src="/icons/services/icon1.svg" alt="Перманентный макияж" />
      </div>
      <span>Перманентный макияж</span>
    </a>

    <a href="/services/brows-and-lashes" class="services__content__item">
      <div class="services__content__icon">
        <img src="/icons/services/icon2.svg" alt="Брови и ресницы" />
      </div>
      <span>Брови и ресницы</span>
    </a>

    <a href="/services/makeup-and-piercing" class="services__content__item">
      <div class="services__content__icon">
        <img src="/icons/services/icon3.svg" alt="Макияж и пирсинг" />
      </div>
      <span>Макияж и пирсинг</span>
    </a>

    <a href="/services/hardware-cosmetology" class="services__content__item">
      <div class="services__content__icon">
        <img src="/icons/services/icon4.svg" alt="Аппаратная косметология" />
      </div>
      <span>Аппаратная косметология</span>
    </a>

    <a href="/services/injection-cosmetology" class="services__content__item">
      <div class="services__content__icon">
        <img src="/icons/services/icon4.svg" alt="Инъекционная косметология" />
      </div>
      <span>Инъекционная косметология</span>
    </a>
  </div>
</section>

<SmoothScrollEffect client:only />
