---
import SmoothScrollEffect from "../../components/animations/SmoothScrollEffect";
import "./index.scss";
---

<section class="services">
    <article class="services__header">
        <h2 class="services__header title">Услуги</h2>
        <aside>
            <span class="services__header subtitle">посмотрите весь список наших услуг</span>
            <a class="services__header button">Все услуги</a>
        </aside>
    </article>
    <ul class="services__content">
        <li class="services__content list-item">
            <div class="services__content icon">
                <img src="/icons/services/icon1.svg" />
            </div>
            <a href="/services/permanent-makeup">Перманентный макияж</a>
        </li>
        <li class="services__content list-item">
            <div class="services__content icon">
                <img src="/icons/services/icon2.svg" />
            </div>
            <a href="/services/brows-and-lashes">Брови и ресницы</a>
        </li>
        <li class="services__content list-item">
            <div class="services__content icon">
                <img src="/icons/services/icon3.svg" />
            </div>
            <a href="/services/makeup-and-piercing">Макияж и пирсинг</a>
        </li>
        <li class="services__content list-item">
            <div class="services__content icon">
                <img src="/icons/services/icon4.svg" />
            </div>
            <a href="/services/hardware-cosmetology">Аппаратная косметология</a>
        </li>
        <li class="services__content list-item">
            <div class="services__content icon">
                <img src="/icons/services/icon5.svg" />
            </div>
            <a href="/services/injection-cosmetology"
                >Инъекционная косметология</a
            >
        </li>
    </ul>
</section>

<SmoothScrollEffect client:only />
