.geo {
    &__map {
        @include flexbox(column);
        width: 100%;
        height: 600px;
        overflow: hidden;
        z-index: 2;

        iframe {
            @include full-parent;
            border: none;
            filter: hue-rotate(2), sepia(0.75);
        }
    }

    &__controls {
        @include flexbox(column);
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: -14vw;
        width: 40%;
        height: 80%;
        border-radius: 0 50px 50px 0;
        z-index: 0;
        padding: 1rem;

        button {
            @include no-def-styles();
            padding: 8px 12px;
            color: $secondary-color;
            background-color: transparent;
            font-size: 1.25rem;
            font-family: 'Roboto', serif;
            cursor: pointer;
        }
    }

    &__overlay {
        @include flexbox(column);
        @include full-parent;
        position: absolute;
        
        inset: 0;
        z-index: 2;
        backdrop-filter: blur(12px);
        pointer-events: auto;
        box-shadow: inset 9px 9px 9px #00000018;
    }

    &__overlay-button {
        padding: 1em 1.75em;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        background-color: $primary-color;
        color: $secondary-font-color;
        border-radius: 12px;
    }
}