@use '@/styles/_mixins.scss' as *;

.hero {
  &__content {
    @include flexbox(row);
    @include full-parent;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(2rem + 2vh);
    opacity: 0;
  }

  &__text {
    @include flexbox(column);
    @include no-padding();
    @include full-parent;

    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(2rem + 2vh);
  }

  &__text-title {
    @include no-padding;
    height: auto;

    @include ubuntu-title-font(false, left);
    font-size: calc(3 * (1vh + 1vw));
  }

  &__text-subtitle {
    @include no-padding;
    height: auto;
    width: 100%;

    @include prata-text(false, left);
  }

  &__showcase {
    position: relative;
    right: 0;
    bottom: 0;
    width: 25rem;
    object-fit: cover;
    border-radius: 12px;
  }

  &__arrow-container {
		@include flexbox(row);
		position: absolute;
		left: 0;
		bottom: 0%;
		width: 15rem;
		height: 3.5rem;
		gap: 1rem;

		.arrow {
			@include full-parent;
			@include no-def-styles;
			border-radius: 10px;
			background-color: $primary-color;
			box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.568);

			img {
				width: 30px;
				height: 30px;
				filter: invert(1);
				object-fit: fill;
			}

			&.left {
				transform: rotateY(180deg);
			}

			&:hover {
				scale: 1.01;
			}

			&:active {
				scale: 0.95 !important;
			}
		}
	}
}

@media (max-width: 600px) {
  .hero {
    padding: 10vh 0 0 0;
    &__content {
      flex-direction: column;
      gap: 5px;
      padding: 0;
    }

    &__text {
      gap: 5px;
      padding: 1rem;
    }

    &__text-title {
      max-width: unset;
      width: 100%;
      text-align: center;
    }

    &__text-subtitle {
      max-width: unset;
      width: 100%;
      text-align: center;
      height: 2rem;
    }

    &__showcase {
      transform: translateY(-1rem), translateX(-1rem);
    }

    &__arrow-container {
      transform: translateX(30%) translateY(-1rem);
    }
  }
}