@use '@/styles/_mixins.scss' as *;

.hero {
  &__content {
    @include flexbox(row);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }

  &__text {
    @include flexbox(column);
    gap: 2rem;
    max-width: 45%;
  }

  &__text-title {
    font-family: "Sintony", sans-serif;
    font-weight: 700;
    font-size: calc(5 * (1vw + 1vh));
    color: #3E3836;
  }

  &__text-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: calc(1.2 + (1vw + 1vh));
    color: #3D2A24;
  }

  &__showcase {
    max-width: 40vw;
    max-height: 80vh;
    object-fit: cover;
    border-radius: 12px;
  }

  &__controls {
    position: absolute;
    bottom: 3rem;
    left: 10vw;
    display: flex;
    gap: 1rem;
    z-index: 2;
  }

  &__button {
    font-size: 1.5rem;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background-color: #eee;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    &__content {}

    &__text {}

    &__text-title {}

    &__text-subtitle {}

    &__showcase {}

    &__controls {}

    &__button {
      &:hover {}
    }
  }
}