---
import "./Footer.scss"
---

<footer class="footer">
    <section class="footer__content">
        <div class="icon">
            <img/>
        </div>
        <h3 class="title">Marina Sevastyanova Beauty Salon</h3>
        <nav class="navlist">
            <a href="/services" class="navlist__item">услуги</a>
            <a href="/booking" class="navlist__item">запись</a>
            <a href="/stuff" class="navlist__item">мастера</a>
            <a class="navlist__item">как добраться</a>
        </nav>
        <span class="disclaimer">Все услуги, предоставляемые в салоне Марины Севостьяновой, предназначены исключительно для косметического и эстетического ухода. Результаты могут отличаться в зависимости от индивидуальных особенностей кожи, волос и других факторов.

            Информация, размещённая на сайте и предоставляемая в ходе консультаций, не является медицинской рекомендацией и не должна рассматриваться как таковая.
            
            Перед проведением процедур просьба сообщать мастеру о наличии аллергий, хронических заболеваний или принимаемых медикаментах. Салон не несёт ответственности за возможные реакции, вызванные скрытыми или неуказанными клиентом особенностями организма.
            
            Записываясь на процедуру, вы подтверждаете своё согласие с условиями оказания услуг и настоящим дисклеймером.
            
            </span>
        <a href="https://saevskii.space/" class="self-mark">2025, <b>saevskii.dev</b></a>
    </section>
</footer>