---
import "./Footer.scss"
---

<footer class="footer">
    <section class="footer__content">
        <div class="icon">
            <img/>
        </div>
        <h3 class="title">Продам кокошник 89086076627</h3>
        <nav class="navlist">
            <a class="navlist__item">услуги</a>
            <a class="navlist__item">запись</a>
            <a class="navlist__item">мастера</a>
            <a class="navlist__item">как добраться</a>
        </nav>
        <span class="disclaimer">Все события, имена и персонажи вымышленны, любое совпадение - случайно</span>
        <a class="self-mark">Мы хейтим CMS Wordpress и Tilda, присоединяйся <b>saevskii.dev</b></a>
    </section>
</footer>