---
import Flower from "@/assets/icons/flower-icon.svg"
import "./index.scss";


---

<section class="hero">
    <article class="hero__article">  
        <h1 class="hero__article herotext">
            <span class="hero__article herotext">Сеть салонов красоты</span>
            <span class="hero__article herotext extra">Марины Севостьяновой</span>
        </h1>
        <span class="hero__article subtext">
            Добро пожаловать на сайт современных салонов красоты в Москве и Санкт-Петербурге! Давайте посмотрим, чем мы сможем Вас удивить!
        </span>
    </article>
    <img src="/assets/hero-woman.svg" alt="Фирменный макияж Marina" class="hero__showcase"/>
    <img src="/backgrounds/main-background.svg" class="main-background"/>
</section>
