---
import HeroImage from "@/assets/photos/team-lead/hero.png";
import HeroBlur from "@/assets/photos/hero/hero-blur.svg";
import "./index.scss";
import HeroTiltScript from "./ImpovedAnimation";
import LinkButton from "@/components/buttons/LinkButton";
---

<section class="hero">
  <article class="hero__article">
    <h1 id="hero-title" class="hero__article herotext">
      <span class="hero__article herotext">Darina's beauty salon</span>
      <span class="hero__article herotext extra"
        >Красота не требует жертв — только визита.</span
      >
    </h1>

    <a href="/booking" class="hero-button"><span class="hero-button-text">Записаться</span></a>

    <span class="hero__article subtext">
      <span id="stat-experience" class="subtext__item">
        <span class="number-wrapper"
          ><span class="subtext__number">10</span>+</span
        > Лет опыта
      </span>
      <span id="stat-clients" class="subtext__item">
        <span class="number-wrapper"
          ><span class="subtext__number">5000</span>+</span
        > Довольных клиентов
      </span>
      <span id="stat-masters" class="subtext__item">
        <span class="number-wrapper"
          ><span class="subtext__number">15</span></span
        > Мастеров
      </span>
    </span>
  </article>

  <img
    src={HeroBlur.src}
    alt="Декоративное размытие"
    class="main-background-blur"
  />
  <img
    src={HeroImage.src}
    alt="Фирменный макияж Marina"
    class="hero__showcase"
  />
  <img src="/backgrounds/main-background.svg" class="main-background" />
</section>
