---
import "./index.scss";
---

<section class="hero">
    <article class="hero__article">  
        <h1 class="hero__article herotext">
            <span class="hero__article herotext">Я переделаю</span>
            <span class="hero__article herotext">Я переделаю</span>
            <span class="hero__article herotext">Я переделаю</span>
            <span class="hero__article herotext">Я переделаю</span>
            <span class="hero__article herotext extra">Я переделаю скоро</span>
        </h1>
        <span class="hero__article subtext">
            Эту секцию переделаю скоро
            <span class="hero__article herotext">Я переделаю</span>
            <span class="hero__article herotext">и это переделаю</span>
        </span>
    </article>
    <img src="/assets/hero-woman.svg" alt="Фирменный макияж Marina" class="hero__showcase"/>
    <img src="/backgrounds/main-background.svg" class="main-background"/>
</section>
