---
import "./index.scss"
---

<section class="geo">
    <article class="geo__content">
        <h2 class="geo__title">Мы на карте Москвы</h2>
        <p class="geo__discription">ул. Пушкина, дом Колотушкина, подъезд 3</p>
    </article>
</section>