---
import "./index.scss";
const { category } = Astro.props;
---

<section class="hero">
  <article class="hero__article">
    <h1 class="hero__article herotext">{category.category}</h1>
    <span class="hero__article subtext">
      {category.description}
    </span>
  </article>
  <img src="/assets/hero-woman.svg" alt="Фирменный макияж Marina" class="hero__showcase"/>
</section>
